@{
    ViewBag.Title = "Argh you killed me!";
}
<div class="row">
    <div class="span12">
        <section id="frontpage-login">
            <div class="hero-unit">
              <h1>Oh my HTTP 500 Error</h1>
              <p>What did you do?</p>
              <p>
                Something blew the hell up, and it's probably your fault!
              </p>
            </div>
        </section>
    </div>
</div>