@model Penedating.Web.Models.LoginModel
@{
    Layout = null;
}
@using(Html.BeginForm("Login", "User", FormMethod.Post, new {id = "login-form"}))
{
    <legend>Sing in to find your penetration partner today!</legend>
    <div class="control-group">
        <label class="control-label" for="login-email">Enter your user name</label>
        <div class="controls">
            @Html.TextBoxFor(a => a.Username, new { placeholder = "User name here", id = "login-email" })
            @Html.ValidationMessageFor(a => a.Username, "User name not valid", new { @class = "label label-important" })
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="login-password">And your password</label>
        <div class="controls">
            @Html.PasswordFor(a => a.Password, new { placeholder = "Password here", id = "login-password" })
            @Html.ValidationMessageFor(a => a.Password, "Password not valid", new { @class = "label label-important" })
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-primary" onclick="javascript:loginSubmit()">Sing In</button>
            <a href="rofl" class="btn btn-info" >Create Profile</a>
        </div>
    </div>
}