@model Penedating.Web.Models.LoginViewModel
@{
    ViewBag.Title = "Penedating - Front Page";
}
<div class="row">
    <div class="span12">
        <img class="logo" src="@Url.Content("~/Content/img/penedating_small_trans.png")"/>
    </div>
</div>
<div class="row">
    <div class="span12">
        @Html.Action("Index", "Profiles")
    </div>
</div>