@{
    ViewBag.Title = "Login";
}
<div class="row">
    <div class="span8">
        <section id="frontpage-login">
            <div class="hero-unit">
                <p>
                    @Html.Partial("LoginForm")
                </p>
            </div>
        </section>
    </div>
    <div class="span4">
        <ul class="thumbnails">
          <li class="span4">
            <div class="thumbnail">
              <img src="http://placehold.it/300x200" alt="">
              <h3>Forgot your password?</h3>
              <p>Lol n00b!</p>
            </div>
          </li>
        </ul>
    </div>
</div>