@model Penedating.Web.Models.ProfileViewModel
@{
    ViewBag.Title = "Welcome back!";
}
<div class="row">
    <div class="span12">
        <div class="hero-unit">
            <h1>Share the love</h1>
            <p>
                Send a hug  
            </p>
        </div>
    </div>
</div>  
<div class="row">
    <div class="span12">
        @Html.Action("Index", "Profiles", new { pageSize = 8 })
    </div>
</div>